body .content-wrapper,body .right-side, .main-footer {margin-left: 240px!important;}
body .content-wrapper.content-shrink{margin-left: 60px!important;}
body{margin:0;}

.hi{font-size: 12px;}

.ad-flex{display: flex;}
.flex-wrap{display: flex;flex-wrap: wrap;}
.flex-align-center{display: flex;align-items: center;}
.display-block{display: block!important;}
.display-none{display: none!important;}
.flex-center-center{
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-between-center{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.height-max{height: 100%;}
.margin-top-1{margin-top: 10px;}
.margin-top-2{margin-top: 20px;}
.margin-top-3{margin-top: 30px;}
.margin-left-2{margin-left: 20px;}
.margin-left-3{margin-left: 30px;}
.margin-right-2{margin-right: 20px;}
.margin-right-3{margin-right: 30px;}
.text-left{text-align: left;}

.console-title h5{float: left;}
.adBottom button{margin-right: 10px;}

.color-green{color: #6ad83d;}
.color-red{color: #ff5d5d;}
.color-orange{color: #fd6920;}

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder{color: #dfdfdf;}
input:-moz-placeholder, textarea:-moz-placeholder {color:#dfdfdf;}
input::-moz-placeholder, textarea::-moz-placeholder {color:#dfdfdf;}
input:-ms-input-placeholder, textarea:-ms-input-placeholder {color:#dfdfdf;}

input:focus,textarea:focus{
  border-radius: 4px;
	border: solid 1px #363636;
  color: #363636;
  outline:solid 1px #363636;
}


.btn-primary{
  border-radius: 4px;
  background-color: #0081ff;
  padding: 9px 39px;
  font-size: 16px;
  font-weight: 500;
  text-align: left;
  color: #ffffff;
  border: 1px solid #0081ff;
}

.btn-primary.disabled{
  background-color: #999eae;
}
.radio-info{position: relative;line-height: 30px;}
input[type="radio"] {width: 16px;height: 16px;opacity: 0;}
.radio-info label{
      position: absolute;
      left: -3px;
      top: 7px;
      width: 16px;
      height: 16px;
      border-radius: 50%;
      border: 1px solid #999;
}

.radio-info input:checked+label {background-color: #0081ff;border: 1px solid #0081ff;}
.radio-info input:checked+label::after {
            position: absolute;
            content: "";
            width: 10px;
            height: 10px;
            top: 1px;
            left: 1px;
            border: 2px solid #fff;
            border-radius: 6px;
        }
.radio-info.checked span {color:#0081ff;}

.index-title{
  font-size: .3rem;
  .dot{
    position: relative;
    top: -.2rem;
    display: inline-block;
    margin: 0 .018rem;
    width: .04rem;
    height: .04rem;
    background: #fff;
    transform: rotate(-45deg);
  }
}
