.mobile-aso {
  font-size: .2rem;
}
.mobile-aso .mobile-banner {
  text-align: center;
  background-image: linear-gradient(178deg, #7284ff, #49a5ff);
}
.mobile-aso .mobile-banner .banner-title {
  margin-top: .07rem;
  margin-bottom: .26rem;
  line-height: 1.5;
  font-weight: 400;
}
.mobile-aso .mobile-banner .banner-btn {
  margin-bottom: .16rem;
}
.mobile-aso .mobile-banner .banner-btn.btn-new {
  background: transparent;
  color: #fcfcfd;
  border: solid .02rem #e4e4e4;
}
.mobile-aso .aso-content {
  margin-top: .64rem;
}
.mobile-aso .aso-content .aso-use {
  flex-direction: column;
  padding: .3rem 0 .4rem;
  border-bottom: solid 0.01rem rgba(151, 151, 151, 0.1);
}
.mobile-aso .aso-content .aso-use label {
  margin-bottom: .2rem;
  font-size: .18rem;
  font-weight: 500;
  letter-spacing: -0.004rem;
  color: #667282;
}
.mobile-aso .aso-content .aso-use .use-app {
  margin-right: .12rem;
  width: .48rem;
  border-radius: .12rem;
}
.mobile-aso .aso-content .aso-use .use-app:last-child {
  margin-right: 0;
}
.mobile-aso .aso-content .content-good {
  padding: .4rem .3rem;
  border-bottom: solid 0.01rem rgba(151, 151, 151, 0.1);
}
.mobile-aso .aso-content .content-good .content-title {
  margin-bottom: .3rem;
  font-size: .24rem;
  font-weight: 500;
  line-height: 1.25;
  color: #464e59;
}
.mobile-aso .aso-content .content-good .good-item {
  margin-bottom: .24rem;
  box-sizing: border-box;
  height: 3.34rem;
  padding: .4rem 0.3rem 0;
  text-align: center;
  border-radius: .05rem;
  box-shadow: 0 0.12rem 0.24rem -0.2rem rgba(37, 34, 62, 0.5);
  border: solid .01rem #e3e3e3;
  background-color: #fff;
}
.mobile-aso .aso-content .content-good .good-item .good-icon {
  margin-bottom: .23rem;
  width: .98rem;
}
.mobile-aso .aso-content .content-good .good-item .good-title {
  margin-bottom: .2rem;
  font-size: .16rem;
  font-weight: 600;
  line-height: 1.78;
  letter-spacing: -0.004rem;
  color: #464e59;
}
.mobile-aso .aso-content .content-good .good-item .good-info {
  text-align: left;
  opacity: 0.6;
  font-size: .11rem;
  line-height: 1.86;
  color: #000;
}
.mobile-aso .aso-content .content-good .good-item:nth-child(odd) {
  background-image: linear-gradient(to left, #fbfcfd, #f5f7f9);
}
