.mobile-news {
  font-size: .2rem;
}
.mobile-news .mobile-banner {
  text-align: center;
  background-image: linear-gradient(355deg, #42b8ff, #2d73c1);
}
.mobile-news .mobile-banner .banner-title {
  margin-top: .14rem;
  margin-bottom: .2rem;
}
.mobile-news .mobile-banner .banner-content {
  margin-bottom: .4rem!important;
}
.mobile-news .news-content {
  border-bottom: solid .01rem #f6f6f6;
}
.mobile-news .news-content .news-lists {
  padding: .4rem .3rem;
}
.mobile-news .news-content .news-lists .news-title {
  margin: 0 auto .29rem;
  width: 100%;
  padding-bottom: .3rem;
  border-bottom: solid .01rem #f6f6f6;
  font-size: .24rem;
  font-weight: 500;
  line-height: 1.25;
  color: #464e59;
}
.mobile-news .news-content .news-lists .news-item {
  display: block;
  margin-bottom: .3rem;
  width: 3.15rem;
  box-shadow: 0 0.11rem 0.21rem -0.18rem rgba(37, 34, 62, 0.5);
  border: solid 0.01rem #e3e3e3;
  background-color: #fff;
}
.mobile-news .news-content .news-lists .news-item .news-banner {
  width: 3.15rem;
}
.mobile-news .news-content .news-lists .news-item .news-info-title {
  display: -webkit-box;
  margin: .12rem .14rem;
  height: .44rem;
  overflow: hidden;
  text-align: left;
  color: #000;
  text-overflow: ellipsis;
  font-weight: 500;
  font-size: .16rem;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
