.mobile-task {
  font-size: .2rem;
}
.mobile-task .mobile-banner {
  text-align: center;
  background-image: linear-gradient(178deg, #7284ff, #49a5ff);
}
.mobile-task .mobile-banner .banner-title {
  margin-bottom: .15rem;
}
.mobile-task .mobile-banner .banner-content {
  margin-bottom: .36rem;
}
.mobile-task .task-content {
  border-bottom: solid .01rem #f6f6f6;
}
.mobile-task .task-content .task-list {
  padding: .43rem .3rem .6rem;
}
.mobile-task .task-content .task-list .task-item {
  margin-bottom: .3rem;
  padding: .4rem .3rem 0;
  border-radius: .06rem;
  box-shadow: 0 0.15rem 0.3rem -0.25rem rgba(37, 34, 62, 0.5);
  border: solid .01rem #e3e3e3;
  background-color: #fff;
}
.mobile-task .task-content .task-list .task-item .task-title {
  margin-bottom: .15rem;
  font-size: .24rem;
  font-weight: 500;
  color: #000;
}
.mobile-task .task-content .task-list .task-item .task-info {
  margin-bottom: .4rem;
  height: .56rem;
  text-align: left;
  font-size: .16rem;
  line-height: 1.75;
  color: rgba(0, 0, 0, 0.5);
}
.mobile-task .task-content .task-list .task-item .task-line {
  margin: 0 auto;
  width: 1.18rem;
  border-top: dashed  .02rem #e3e3e3;
}
.mobile-task .task-content .task-list .task-item .task-des {
  margin: .4rem 0;
  font-size: .2rem;
  color: #000;
}
.mobile-task .task-content .task-list .task-item:nth-child(even) {
  background-image: linear-gradient(to left, #fbfcfd, #f5f7f9);
}
.mobile-task .task-content .task-list .task-item:last-child {
  margin-bottom: 0;
}
